/*Mainpage.html CSS*/

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem 15%;
    height: 47rem;
}

navContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}

navContainer h1 {
    width:50%;
}

nav {
    display: flex;
    width: 50%;
}

nav ul {
    display: inline-flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
}

nav a {
    text-decoration: none;
}

#navLine {
    border-top: .2rem solid;
    width: 100%;
}

#aboutMe {
    display: flex;
    position: relative;
}

#aboutMeText {
    height: auto;
    width: 50%;
}

#mainpic {
    height: auto;
    width: 50%;
}

#footer {
    display: flex;
    align-items: flex-end;
    font-size: 0.75rem;
}