/*Projectspage.html CSS*/

body {
    display: flex;
    flex-wrap: wrap;
    height: 101rem;
    margin: 0rem;
}

#navContainer {
    position: fixed;
    width:100%;
    position: fixed;
    z-index: 10;
    background-color: white;
    border-bottom: 2px solid;
}

nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid;
}

nav ul {
    display: inline-flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
}

#navContainer h1 {
    text-align: center;
}

#websiteContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: 8.1rem;
    height: 50%;
    z-index: 1;
    background-color: white;
}

#websiteContainer h2 {
    width: 100%;
    text-align: center;
    height: 4%;
}

.pageBlocksContainerTop {
    display: flex;
    position: relative;
    top: 1rem;
    width: 100%; 
    height: 25%;
    justify-content: space-around;   
    align-items: center;
}

.pageBlocksContainerBottom {
    display: flex;
    position: relative;
    bottom: 2rem;
    width: 100%; 
    height: 25%;
    justify-content: space-around;   
    align-items: center;
}

.pageBlocks {
    height: 100%;
    align-items: center;
    border: 1px solid black;
    width: 15%;
    display: flex;
    justify-content: center;
}

#javascriptContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 8.1rem;
    height: 50%;
    z-index: 3;
    background-color: white;
}

#javascriptButton {
    text-align: center;
    padding: 1rem;
    margin: 0;
}

#javascriptButtonContainer {
    border: 2px solid black;
    border-radius: 1rem;
}

#javascriptProjects {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    top: 9.1rem;
    height: 85%;
    width: 100%;
    justify-content: space-around;
    z-index: 5;
}

.jsProjectContainer {
    height: 90%;
    width: 30%;
    border: 2px solid black;
    /*below for visibility*/
    background-color: aqua;
}

#returnButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#returnButtonText {
    width: 30%;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: .25rem;
}