/*Projectspage.html CSS*/

body {
    display: flex;
    flex-wrap: wrap;
    height: 101rem;
    margin: 0rem;
    background-color: black;
}

#navContainer {
    position: fixed;
    width:100%;
    z-index: 10;
    background-color: black;
    border-bottom: 2px solid antiquewhite;
}

nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid antiquewhite;
}

nav ul {
    display: inline-flex;
    width: 100%;
    padding: 0rem;
    list-style: none;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: antiquewhite;
}

#navContainer h1 {
    color: antiquewhite;
    text-align: center;
    padding: 1.34rem 0rem;
    margin: 0px;
}

#websiteContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: 9.1rem;
    height: 50%;
    row-gap: 3rem;
    z-index: 1;
    align-content: flex-start;
}

#websiteContainer h2 {
    width: 100%;
    color: antiquewhite;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0px ;
}

.pageBlocksContainerTop {
    display: flex;
    position: relative;
    width: 100%; 
    height: 26%;
    justify-content: space-around;   
    align-items: center;
}

.pageBlocksContainerBottom {
    display: flex;
    position: relative;
    width: 100%; 
    height: 26%;
    justify-content: space-around;   
    align-items: center;
}

.pageBlocks {
    height: 100%;
    margin: 0px;
    align-items: flex-end;
    border: 2px solid antiquewhite;
    width: 30%;
    min-width: 12rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    flex-wrap: wrap;
    background-color: white;
}

.pageBlocks a {
    height: 100%;
    width: 100%;
}

.pageBlocks figcaption {
    color: antiquewhite;
}

.thumbnails {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#javascriptContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 8.1rem;
    height: 50%;
    z-index: 3;
    background-color: black;
}

#javascriptButton {
    text-align: center;
    padding: 1rem;
    margin: 0;
}

#javascriptButtonContainer {
    border: 2px solid black;
    border-radius: 1rem;
    background-color: antiquewhite;
}

#javascriptProjects {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: black;
    justify-content: space-around;
    overflow-y: scroll;
    z-index: 11;
}

.jsProjectContainer {
    height: 90%;
    width: 30%;
    min-width: 474.9px;
    min-height: 681.3px;
    border: 2px solid black;
    /*below for visibility*/
    background-color: aqua;
}

#jsProjectList a {
    text-decoration: none;
    width: 100%;
}

#jsProjectList li {
    line-height: 5rem;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: antiquewhite;
}

#jsProjectList ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0rem;
    margin: 0.2rem;
}

#jsProjectCode {
    overflow: scroll;
}

#jsCodeTextContainer, #jsCodeOutputContainer {
    height: 100%;
    width: 100%;
    line-height: .5rem;
    white-space: nowrap;
}

#jsCodeOutput {
    white-space: normal;
}

.indentOne {
    margin-left: 1rem;
}

.indentTwo {
    margin-left: 2rem;
}

.indentThree {
    margin-left: 3rem;
}

.indentFour {
    margin-left: 4rem;
}

.indentFive {
    margin-left: 5rem;
}

.indentSix {
    margin-left: 6rem;
}

#initialText {
    text-align: center;
    position: relative;
    top: 40%;
}

#returnButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#returnButtonText {
    width: 30%;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: .25rem;
    background-color: antiquewhite;
}